<header class='container'>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white agc-nav-bottom-border">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="agc-logo-container">
            <!-- <img class="agc-main-logo" src="/static/icons/main-logo.png"> -->
        </div>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                {% if session.logged_in %} 
                    {% if session.admin %}
                        <li>
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                    {% endif %}

                    <li>
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link agc-nav-link" id='about' href="#">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link agc-nav-link" id='ourRoles' href="#">OUR ROLES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link agc-nav-link" id='weeklyChallenge' href="#">WEEKLY CHALLENGE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link agc-nav-link" id='stats' href="#">STATISTICS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link agc-nav-link" href="/login">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link agc-nav-link" id='contact' href="#">CONTACT</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<!-- ABOUT
TEAM
OUR ROLES
WEEKLY CHALLENGE
STATISTICS
LOGIN
CONTACT -->