{% extends 'layout.html' %} {% block body %}

<div id="welcomeSection"></div>

<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus, dui sed vulputate aliquet, quam ex condimentum ligula,
    sit amet tempor ex est et diam. Ut sollicitudin mattis eros, eget imperdiet lorem hendrerit volutpat. Nullam molestie
    nulla ut libero vestibulum bibendum. Duis fermentum mi eget porta egestas. In ut mollis mauris, ac vulputate magna. Vivamus
    cursus at elit ut viverra. Vestibulum euismod nisl vel sapien pretium vestibulum. Etiam scelerisque elit nisl, interdum
    finibus orci aliquam eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis
    in faucibus orci luctus et ultrices posuere cubilia Curae; Cras cursus volutpat aliquet. Etiam eleifend massa dolor,
    vitae faucibus orci cursus a. Nunc in mi non augue ultrices placerat. Sed nibh ante, rutrum at risus condimentum, feugiat
    vehicula risus. Duis sed sapien vel erat elementum volutpat sit amet in metus. Morbi convallis blandit ipsum, a accumsan
    libero. In in nisi tellus. Nam id ultricies enim. Nam sit amet mattis felis. Maecenas fringilla nisl finibus, pretium
    velit id, euismod erat. Suspendisse euismod nisi vel arcu faucibus pellentesque. Suspendisse elementum odio at felis
    porttitor convallis. Integer placerat a orci ac vestibulum. Etiam tempus, mauris ac scelerisque bibendum, metus arcu
    mattis felis, vel vestibulum velit dui a nibh. Vestibulum eleifend vehicula lacus. Pellentesque sit amet viverra dolor.
    Fusce tortor magna, consequat vitae iaculis condimentum, aliquet vitae ipsum. Donec at egestas erat, nec tincidunt neque.
    Curabitur et dui at enim porttitor euismod id at sem. Morbi sollicitudin mauris eget augue vulputate blandit. Nam vel
    enim sapien. Nam massa felis, vestibulum at turpis at, viverra porta nulla. Aenean pulvinar id lectus fringilla iaculis.
    Vivamus iaculis ipsum in nibh lacinia, sit amet scelerisque neque condimentum. Integer enim massa, venenatis sed gravida
    eget, fringilla id risus. Etiam tempus erat ipsum, facilisis auctor odio consectetur eget. Donec a tempus sapien, sit
    amet efficitur est. Phasellus facilisis vel nisl quis lacinia. Nunc maximus quis purus sed tincidunt. Pellentesque volutpat,
    nunc vel tempor luctus, justo neque posuere nunc, in aliquet risus mi sit amet diam. Nunc leo turpis, egestas in ornare
    eu, tempus ut nunc. Praesent nisi tellus, mattis sed euismod nec, mollis sed ante. Mauris ac tincidunt ipsum, ac porttitor
    erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis a eros at dui posuere porta eu ac ante. Nam
    tempus mauris lectus, ut condimentum lacus elementum vitae. Integer elementum laoreet tortor, venenatis laoreet tortor
    tincidunt sit amet. Pellentesque convallis velit vitae metus elementum gravida. Nam tellus ante, condimentum accumsan
    sem in, consequat molestie tortor. Suspendisse sapien massa, sodales in dapibus sed, ultrices a dui. Curabitur tristique
    lacus vitae ante varius, sit amet tincidunt diam pellentesque. Fusce est ligula, congue eu tempor eu, fringilla in felis.
    In et urna ante. Fusce eleifend laoreet enim quis suscipit. Nullam vel ligula dignissim, porta risus et, facilisis risus.
    Mauris sed fringilla turpis. Aenean scelerisque, risus in congue vestibulum, purus sem pretium lorem, non accumsan ex
    ipsum at dolor. Fusce tempus ut est quis laoreet. Donec ornare nisl quam, at placerat leo sollicitudin sit amet. Morbi
    vulputate consequat ligula et bibendum.
</div>

<div class="mb-5">&nbsp;</div>
<div class="mb-5">&nbsp;</div>

<div id="aboutSection">
    <h3>ABOUT</h3>
    <br>
    <br>

    <span class="agc-sub-heading">What is AGC?</span>
    <br> Cat ipsum dolor sit amet, plop down in the middle where everybody walks for fish i must find my red catnip fishy fish
    or when in doubt, wash. You call this cat food eat a rug and furry furry hairs everywhere oh no human coming lie on counter
    don't get off counter for when in doubt, wash so flee in terror at cucumber discovered on floor yet hunt by meowing loudly
    at 5am next to human slave food dispenser kitten is playing with dead mouse lounge in doorway. Lick the curtain just
    to be annoying chase dog then run away i just saw other cats inside the house and nobody ask me before using my litter
    box for nap all day, so curl into a furry donut i could pee on this if i had the energy.

    <br>
    <br>

    <span class="agc-sub-heading">History</span>
    <br> Disappear for four days and return home with an expensive injury; bite the vet purr while eating. Kitty loves pigs pet
    right here, no not there, here, no fool, right here that other cat smells funny you should really give me all the treats
    because i smell the best and omg you finally got the right spot and i love you right now. Human give me attention meow
    knock dish off table head butt cant eat out of my own dish and dont wait for the storm to pass, dance in the rain or
    cough furball into food bowl then scratch owner for a new one pet my belly, you know you want to; seize the hand and
    shred it!.

    <br>
    <br>

    <span class="agc-sub-heading">What do we do and what makes us stand out from the crowd</span>
    <br> I like frogs and 0 gravity annoy owner until he gives you food say meow repeatedly until belly rubs, feels good warm
    up laptop with butt lick butt fart rainbows until owner yells pee in litter box hiss at cats. Have my breakfast spaghetti
    yarn chew on cable or meow all night, human give me attention meow and meow meow poop in the plant pot. Sleep in the
    bathroom sink fish i must find my red catnip fishy fish and play time. I could pee on this if i had the energy chase
    imaginary bugs, and nap all day push your water glass on the floor or playing with balls of wool yet walk on car leaving
    trail of paw prints on hood and windshield and give attitude. Chase laser hiding behind the couch until lured out by
    a feathery toy, for touch water with paw then recoil in horror trip on catnip.
</div>

<div class="mb-5">&nbsp;</div>
<div class="mb-5">&nbsp;</div>

<div id="teamSection">
    <h3>TEAM</h3>
    <br>
    <br>
    <span class="agc-sub-heading">Admins</span>
    <br> Cat ipsum dolor sit amet, plop down in the middle where everybody walks for fish i must find my red catnip fishy fish
    or when in doubt, wash. You call this cat food eat a rug and furry furry hairs everywhere oh no human coming lie on counter
    don't get off counter for when in doubt.

    <div class="mt-4">
        <div class="agc-image-item">
            <img src="http://via.placeholder.com/75x75" class="rounded-circle ml-5 mr-5">
            <p class="mt-2">ghostR</p>
        </div>

        <div class="agc-image-item">
            <img src="http://via.placeholder.com/75x75" class="rounded-circle ml-5 mr-5">
            <p class="mt-2">iggnore</p>
        </div>

        <div class="agc-image-item">
            <img src="http://via.placeholder.com/75x75" class="rounded-circle ml-5 mr-5">
            <p class="mt-2">StefanFrost</p>
        </div>

        <div class="agc-image-item">
            <img src="http://via.placeholder.com/75x75" class="rounded-circle ml-5 mr-5">
            <p class="mt-2">kuh_ruhpt</p>
        </div>
    </div>

    <br>
    <br>

    <span class="agc-sub-heading">Mods</span>
    <br> Disappear for four days and return home with an expensive injury; bite the vet purr while eating. Kitty loves pigs pet
    right here, no not there, here, no fool.

    <div class="mt-4">
        <div class="agc-image-item">
            <img src="http://via.placeholder.com/75x75" class="rounded-circle ml-5 mr-5">
            <p class="mt-2">Malachaai</p>
        </div>

        <div class="agc-image-item">
            <img src="http://via.placeholder.com/75x75" class="rounded-circle ml-5 mr-5">
            <p class="mt-2">SwingLifeAway</p>
        </div>

        <div class="agc-image-item">
            <img src="http://via.placeholder.com/75x75" class="rounded-circle ml-5 mr-5">
            <p class="mt-2">Zer0CooL</p>
        </div>

        <div class="agc-image-item">
            <img src="http://via.placeholder.com/75x75" class="rounded-circle ml-5 mr-5">
            <p class="mt-2">Xenorra</p>
        </div>
    </div>

    <br>
    <br>

    <span class="agc-sub-heading">Partners</span>
    <br> I like frogs and 0 gravity annoy owner until he gives you food say meow repeatedly until belly rubs, feels good warm
    up laptop with butt lick butt fart rainbows until owner yells pee in litter box hiss at cats. Have my breakfast spaghetti
    yarn chew on cable.
</div>

<div class="mb-5">&nbsp;</div>
<div class="mb-5">&nbsp;</div>

<div id="rolesSection">
    <h3>OUR ROLES</h3>
    <br>
    <br>

    <span class="agc-sub-heading">Admins</span>
    <br> Cat ipsum dolor sit amet, plop down in the middle where everybody walks for fish i must find my red catnip fishy fish
    or when in doubt, wash. You call this cat food eat a rug and furry furry hairs everywhere oh no human coming lie on counter
    don't get off counter for when in doubt.

    <br>
    <br>

    <span class="agc-sub-heading">Mods</span>
    <br> Disappear for four days and return home with an expensive injury; bite the vet purr while eating. Kitty loves pigs pet
    right here, no not there, here, no fool.

    <br>
    <br>

    <span class="agc-sub-heading">Partners</span>
    <br> I like frogs and 0 gravity annoy owner until he gives you food say meow repeatedly until belly rubs, feels good warm
    up laptop with butt lick butt fart rainbows until owner yells pee in litter box hiss at cats. Have my breakfast spaghetti
    yarn chew on cable.
</div>

<div class="mb-5">&nbsp;</div>
<div class="mb-5">&nbsp;</div>

<div id="challengeSection">
    <h3>WEEKLY CHALLENGE</h3>
    <br>
    <br>

    <span class="agc-sub-heading">Admins</span>
    <br> Cat ipsum dolor sit amet, plop down in the middle where everybody walks for fish i must find my red catnip fishy fish
    or when in doubt, wash. You call this cat food eat a rug and furry furry hairs everywhere oh no human coming lie on counter
    don't get off counter for when in doubt.

    <br>
    <br>

    <span class="agc-sub-heading">Mods</span>
    <br> Disappear for four days and return home with an expensive injury; bite the vet purr while eating. Kitty loves pigs pet
    right here, no not there, here, no fool.

    <br>
    <br>

    <span class="agc-sub-heading">Partners</span>
    <br> I like frogs and 0 gravity annoy owner until he gives you food say meow repeatedly until belly rubs, feels good warm
    up laptop with butt lick butt fart rainbows until owner yells pee in litter box hiss at cats. Have my breakfast spaghetti
    yarn chew on cable.
</div>

<div class="mb-5">&nbsp;</div>
<div class="mb-5">&nbsp;</div>

<div id="statsSection">
    <h3>STATISTICS</h3>
    <br>
    <br>

    <span class="agc-sub-heading">Admins</span>
    <br> Cat ipsum dolor sit amet, plop down in the middle where everybody walks for fish i must find my red catnip fishy fish
    or when in doubt, wash. You call this cat food eat a rug and furry furry hairs everywhere oh no human coming lie on counter
    don't get off counter for when in doubt.

    <br>
    <br>

    <span class="agc-sub-heading">Mods</span>
    <br> Disappear for four days and return home with an expensive injury; bite the vet purr while eating. Kitty loves pigs pet
    right here, no not there, here, no fool.

    <br>
    <br>

    <span class="agc-sub-heading">Partners</span>
    <br> I like frogs and 0 gravity annoy owner until he gives you food say meow repeatedly until belly rubs, feels good warm
    up laptop with butt lick butt fart rainbows until owner yells pee in litter box hiss at cats. Have my breakfast spaghetti
    yarn chew on cable.
</div>

<div class="mb-5">&nbsp;</div>
<div class="mb-5">&nbsp;</div>

<div id="contactSection">
    <h3>CONTACT US</h3>
    <br>
    <br>

    <span class="agc-sub-heading">Admins</span>
    <br> Cat ipsum dolor sit amet, plop down in the middle where everybody walks for fish i must find my red catnip fishy fish
    or when in doubt, wash. You call this cat food eat a rug and furry furry hairs everywhere oh no human coming lie on counter
    don't get off counter for when in doubt.

    <br>
    <br>

    <span class="agc-sub-heading">Mods</span>
    <br> Disappear for four days and return home with an expensive injury; bite the vet purr while eating. Kitty loves pigs pet
    right here, no not there, here, no fool.

    <br>
    <br>

    <span class="agc-sub-heading">Partners</span>
    <br> I like frogs and 0 gravity annoy owner until he gives you food say meow repeatedly until belly rubs, feels good warm
    up laptop with butt lick butt fart rainbows until owner yells pee in litter box hiss at cats. Have my breakfast spaghetti
    yarn chew on cable.
</div>

{% endblock %}