{% extends 'layout.html' %} {% block body %}

<div id="statsSection">
    <h3>STATISTICS</h3>
    <br>
    <br>

    <span class="agc-sub-heading">Admins</span>
    <br> Cat ipsum dolor sit amet, plop down in the middle where everybody walks for fish i must find my red catnip fishy fish
    or when in doubt, wash. You call this cat food eat a rug and furry furry hairs everywhere oh no human coming lie on counter
    don't get off counter for when in doubt.

    <br>
    <br>

    <span class="agc-sub-heading">Mods</span>
    <br> Disappear for four days and return home with an expensive injury; bite the vet purr while eating. Kitty loves pigs pet
    right here, no not there, here, no fool.

    <br>
    <br>

    <span class="agc-sub-heading">Partners</span>
    <br> I like frogs and 0 gravity annoy owner until he gives you food say meow repeatedly until belly rubs, feels good warm
    up laptop with butt lick butt fart rainbows until owner yells pee in litter box hiss at cats. Have my breakfast spaghetti
    yarn chew on cable.
</div>

{% endblock %}