body {
    font-family: Arial;
    background-color: rgb(0, 38, 57);
}

.agc-main-logo {
    position: absolute;
    z-index: 999;
    top: 0;
}

.agc-nav-bottom-border {
    border-bottom: 4px solid rgb(190, 20, 38);
}

.agc-nav-link {
    color: rgb(190, 20, 38)!important;
}